<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>货运单列表页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/yiyuan/static/assets/images/favicon.ico">

    <!-- third party css -->
    <link href="/yiyuan/static/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/yiyuan/static/assets/libs/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/yiyuan/static/assets/libs/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/yiyuan/static/assets/libs/datatables/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- 弹窗 css-->
    <link href="/yiyuan/static/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="/yiyuan/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/yiyuan/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/yiyuan/static/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    <!--Layui css-->
    <link href="/yiyuan/static/layui/css/layui.css" rel="stylesheet" type="text/css" />

</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <div class="navbar-custom">
        <ul class="list-unstyled topnav-menu float-right mb-0">



        </ul>

        <ul class="list-unstyled menu-left mb-0">
            <li class="float-left">
                <a href="list.html" class="logo">
                            <span class="logo-lg">
                                <img src="/yiyuan/static/assets/images/logo.png" alt="" height="25">
                            </span>
                    <span class="logo-sm">
                                <img src="/yiyuan/static/assets/images/logo-sm.png" alt="" height="24">
                            </span>
                </a>
            </li>
            <li class="float-left">
                <a class="button-menu-mobile navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </li>

        </ul>
    </div>
    <!-- end Topbar -->

    <!-- ========== 左侧边栏 Start ========== -->
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">


                    <!--<div class="left-user">
                        <div class="user-box">
                            <div class="user-img">
                                <img src="/yiyuan/static/assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                                <a href="javascript:void(0);" class="user-edit"><i class="mdi mdi-pencil"></i></a>
                            </div>

                            <h5><a href="javascript: void(0);">Devid Stanberry</a> </h5>
                            <p class="text-muted mb-0"><small>Main Admin</small></p>
                        </div>
                    </div>-->

                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-view-list"></i>
                            <span> 货运单 </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="cargoBillAddForm.html">新增货运单</a>
                            </li>
                            <li>
                                <a href="list.html">货物单列表</a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- 左侧边栏 End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">首页</a></li>
                                    <li class="breadcrumb-item active">货物单列表</li>
                                </ol>
                            </div>
                            <h4 class="page-title">货物单列表</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <!--子模块 start-->
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <!--<h4 class="header-title">子模块标题</h4>-->
                            <!--<p class="sub-header">子模块描述</p>-->

                            <!--====================条件搜索 start==========================-->

                            <!--====================条件搜索 end==========================-->

                            <!--====================layui 数据表格 start====================-->
                            <!--lay 数据表格1-->
                            <table id="demo" lay-filter="test"></table>
                            <!--表格的工具栏-->
                            <script type="text/html" id="toolbarDemo">
                                <div class="layui-btn-container">
                                    <button class="layui-btn layui-btn-sm" lay-event="xinzeng_button">购进</button>
                                </div>
                            </script>


                            <script type="text/html" id="barDemo">
                                <a class="layui-btn layui-btn-xs" lay-event="Shipping" style="color: white">出货</a>
                                <a class="layui-btn layui-btn-xs" lay-event="update_a_lay" style="color: white">编辑</a>
                                <a class="layui-btn layui-btn-xs" lay-event="del_a_lay" style="color: white">删除</a>
                            </script>
                            <!--====================layui 数据表格 end====================-->
                        </div>
                    </div>
                </div>
                <!--子模块 end-->

            </div> <!-- container-fluid -->
        </div> <!-- content -->
        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center">
                        2020 © Dashboard Theme By <a href="#">YiYuan</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
</div>
<!-- END wrapper -->




<!-- Vendor js -->
<script src="/yiyuan/static/assets/js/vendor.min.js"></script>
<!--Layui js-->
<script src="/yiyuan/static/layui/layui.all.js"></script>
<!--VUE JS-->
<!--<script src="/yiyuan/static/assets/js/vue.js"></script>-->
<!--Axios-->
<script src="/yiyuan/static/assets/js/axios.min.js"></script>
<!--QS-->
<!--<script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>-->



<script>

    //定义本页面数据表格的操作元素
    var tableIns;

    //定义Layui模块
    var layer,table,upload,laydate;
    //加载layui模块
    !function(){
        layer = layui.layer,
            table  = layui.table,
            laydate  = layui.laydate,
            upload = layui.upload;
    }();

    //全局加载层控制变量
    let loding_layLoad;


    //==============页面加载后执行 start========================
    $(function() {
        console.log("版本刷新号===》"+11);

        //日期输入框初始化
        laydate.render({
            elem: '#date_input_id', //指定元素
            type:'datetime'
        });

        //数据表格参数初始化
        tableIns = table.render({
             elem: '#demo'//表格ID
            ,toolbar: '#toolbarDemo' //工具栏ID
            ,height: '650' //高
            //,cellMinWidth: 100 //全局定义常规单元格的最小宽度
            ,url: '/yiyuan/CargoBill/getInfoListPage' //数据接口
            ,defaultToolbar: ['filter']//数据表格 头部工具栏右侧图标
            ,method: 'post' //请求方式
            ,contentType: 'application/json' //发送到服务端的内容编码类型
            ,parseData: function(res){ //res 即为原始返回的数据
                if (!res.success){
                    return ;
                }
                return {
                    "code": res.code, //解析接口状态
                    "message": res.message, //解析提示文本
                    "total": res.data.total, //解析数据长度
                    "records": res.data.records //解析数据列表
                };
            }
            ,request: {//设定分页参数
                pageName: 'current' //页码的参数名称，默认：page
                ,limitName: 'size' //每页数据量的参数名，默认：limit
            }
            ,response: {//设定返回的数据格式
                statusName: 'code' //规定数据状态的字段名称
                ,statusCode: 200 //规定成功的状态码，默认：0
                ,msgName: 'message' //规定状态信息的字段名称，默认：msg
                ,countName: 'total' //规定数据总数的字段名称，默认：count
                ,dataName: 'records' //规定数据列表的字段名称，默认：data
            }
            ,page: true //开启分页
            ,limit: 20
            ,limits: [10,20,30]
            ,cols: [ [ //表头
                /*{ field: "state", checkbox: true,  width: '4%', align: 'center'},*/
                {field: 'goodsTime', title: '购进时间' , minWidth: 110 , templet: function (item) {
                        if(item.goodsTime != null){
                            //字符串截取,只要年月日
                            return item.goodsTime.slice(0,10);
                        }else{
                            return "无";
                        }
                 }}
                ,{field: 'departureLocation', title: '出发' , minWidth: 70}
                ,{field: 'arrivedLocation', title: '到达' , minWidth: 70}
                ,{field: 'goodsName', title: '货物名称' , minWidth: 100}
                ,{field: 'goodsSpecification', title: '规格'}
                ,{field: 'goodsUnit', title: '单位', templet: function (item) {
                    if (item.goodsUnit == '1') {
                        return "吨";
                    }else {
                        return "未定义";
                    }
                 }}
                ,{field: 'goodsNumber', title: '吨数', templet: function (item) {
                        return  item.goodsUnitPrice + " 吨"
                }}
                ,{field: 'goodsUnitPrice', title: '料款/吨' , minWidth: 80, templet: function (item) {
                        return  item.goodsUnitPrice + " 元"
                }}
                ,{field: 'goodsFreight', title: '运费/吨' , minWidth: 80, templet: function (item) {
                        return  item.goodsFreight + " 元"
                }}
                , { field: '', title: '进货价' , minWidth: 90 , templet: function (item) {
                      return  (item.goodsUnitPrice + item.goodsFreight) * item.goodsNumber
                }}
                ,{field: 'whetherToShip', title: '是否出货', minWidth: 90 ,templet: function (item) {
                    if (item.whetherToShip == '0') {
                        return "未出货";
                    }else if(item.whetherToShip == '1') {
                        return "已出货";
                    }else{
                        return "未定义";
                    }
                 }}
                ,{field: 'shippingTime', title: '出货时间', minWidth: 110 , templet: function (item) {
                    if(item.shippingTime != null){
                        //字符串截取,只要年月日
                        return item.shippingTime.slice(0,10);
                    }else{
                        return "无";
                    }
                 }}
                ,{field: 'sellingPrice', title: '销售价/吨' , minWidth: 95,  templet: function (item) {
                        //如果出货状态是1 已出货
                        if(item.whetherToShip == '1') {
                            return item.sellingPrice + " 元";
                        }else{
                            return "无";
                        }
                 }}
                ,{field: '', title: '纯利润' , minWidth: 95,  templet: function (item) {
                    //如果出货状态是1 已出货
                    if(item.whetherToShip == '1') {
                        return (item.sellingPrice * item.goodsFreight) - ((item.goodsUnitPrice +item.goodsFreight) * item.goodsNumber);
                    }else{
                        return "无";
                    }
                 }}
                /*,{fixed: 'right', title:'操作', minWidth: 160 , toolbar: '#barDemo',align:'center'}*/
                ,{title:'操作', minWidth: 160 , toolbar: '#barDemo',align:'center'}

            ]]
        });//数据表格参数初始化-->结尾

        //=======================事件监听方法区域 start===================================
        //表格工具栏监听事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'xinzeng_button':
                    //跳转到新增页面
                    window.location.replace("/yiyuan/CargoBillPage/cargoBillAddForm.html")
                    break;
            };
        });//表格工具栏监听事件 -->结尾
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据

            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var shippingId=data.id;
            var goodsName=data.goodsName;

            //组装所需的数据
            let data_zdy = {
                shippingId : shippingId,
                goodsName : goodsName
            }

            if(layEvent === 'Shipping'){
                //出货
                tiaozhuan(data_zdy);
            }else if(layEvent === 'del_a_lay'){
                //删除
                del_medth(data_zdy);
            }else if(layEvent === 'update_a_lay'){
                //编辑
                update_medth(data_zdy);
            }
        });
        //=======================事件监听方法区域 end===================================

    });//页面加载后执行 -->end


    //======================== 普通方法 区域 start======================================
    //表格重载方法,用于条件查询或者新增删除后对表格的刷新操作
    function table_overload_ff(data) {
        tableIns.reload({
            where: { //设定异步数据接口的额外参数
                data: data,
            },
            page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }
    //解析url参数
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    //伪删除数据
    function del_medth(data) {

        Swal.fire({
            title: "是否执行删除操作?",
            text: "您即将删除货物名:["+data.goodsName+"]的数据",
            type: "warning",
            showCancelButton: !0,
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            confirmButtonClass: "btn btn-success mt-2",
            cancelButtonClass: "btn btn-danger ml-2 mt-2",
            buttonsStyling: !1
        }).then(function (t) {
            if(t.value){

                //组装数据
                let data_http = {
                    id : data.shippingId,
                    deleteOrNot : 1
                }
                //拉起加载层
                loding_layLoad = layer.msg('加载中', {icon: 16,shade: 0.02});
                //调用更新接口,执行伪删除操作
                saveOrupdate_http_medth(data_http);
            }
        });
    }
    //编辑数据
    function update_medth(data) {

        Swal.fire({
            title: "是否执行更新操作?",
            text: "您即将更新货物名:["+data.goodsName+"]的数据",
            type: "info",
            showCancelButton: !0,
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            confirmButtonClass: "btn btn-success mt-2",
            cancelButtonClass: "btn btn-danger ml-2 mt-2",
            buttonsStyling: !1
        }).then(function (t) {
            if(t.value){

                //跳转到编辑页面并携带要出货的数据ID
                window.location.href = "cargoBillUpdateForm.html?id="+data.shippingId;
            }
        });
    }
    //跳转到出货页
    function tiaozhuan(data) {

        Swal.fire({
            title: "是否执行出货操作?",
            text: "您即将出货,货物名:["+data.goodsName+"]的数据",
            type: "info",
            showCancelButton: !0,
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            confirmButtonClass: "btn btn-success mt-2",
            cancelButtonClass: "btn btn-danger ml-2 mt-2",
            buttonsStyling: !1
        }).then(function (t) {
            if(t.value){
                //跳转到出货页面并携带要出货的数据ID
                window.location.href = "Shipping.html?id="+data.shippingId;
            }
        });


    }
    //======================== 普通方法 区域 end======================================



    //==================================网络请求方法区域 所有的AJAX写这里 start=====================================
    function saveOrupdate_http_medth(data) {
        axios.post('/yiyuan/CargoBill/saveOrUpdateInfo',
            data
        ).then(function (response) {

            //关闭加载层
            layer.close(loding_layLoad);

            if(response.data.success){
                layer.msg('操作成功');
                table_overload_ff();
            }else{
                alert("操作失败，请联系管理员，错误原因："+response.data.message);
            }
        }).catch(function (error) {
            //请求异常响应结果
            console.log(error);
            //关闭加载层
            layer.close(loding_layLoad);
            alert("网络连接超时");
        });
    }
    //==================================网络请求方法区域 end=====================================




</script>



<!-- App js -->
<script src="/yiyuan/static/assets/js/app.min.js"></script>
<!-- 弹窗 js-->
<script src="/yiyuan/static/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<!-- 弹窗初始化 js-->
<script src="/yiyuan/static/assets/js/pages/sweet-alerts.init.js"></script>


</body>
</html>