<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>货运单列表页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/yiyuan/static/assets/images/favicon.ico">

    <!-- third party css -->
    <link href="/yiyuan/static/assets/libs/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/yiyuan/static/assets/libs/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/yiyuan/static/assets/libs/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/yiyuan/static/assets/libs/datatables/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="/yiyuan/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/yiyuan/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/yiyuan/static/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    <!--Layui css-->
    <link href="/yiyuan/static/layui/css/layui.css" rel="stylesheet" type="text/css" />

</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <div class="navbar-custom">
        <ul class="list-unstyled topnav-menu float-right mb-0">

            <li class="dropdown d-none d-lg-block">
                <a class="nav-link dropdown-toggle mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="/yiyuan/static/assets/images/flags/us.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">English <i class="mdi mdi-chevron-down"></i> </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="/yiyuan/static/assets/images/flags/spain.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Spanish</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="/yiyuan/static/assets/images/flags/germany.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">German</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="/yiyuan/static/assets/images/flags/italy.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Italian</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="/yiyuan/static/assets/images/flags/russia.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Russian</span>
                    </a>

                </div>
            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="dripicons-inbox mail-icon"></i>
                    <span class="badge badge-info noti-icon-badge">20</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="m-0">
                                    <span class="float-right">
                                        <a href="" class="text-dark">
                                            <small>Clear All</small>
                                        </a>
                                    </span>20 New Messages
                        </h5>
                    </div>

                    <div class="slimscroll noti-scroll">

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item active">
                            <div class="notify-icon"><img src="/yiyuan/static/assets/images/users/avatar-1.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                            <p class="notify-details">Sandra Smith<small class="text-muted">Hey ! I'm working on your project</small></p>
                        </a>

                    </div>

                    <!-- All-->
                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                        View all
                        <i class="fi-arrow-right"></i>
                    </a>

                </div>
            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="dripicons-bell noti-icon"></i>
                    <span class="badge badge-danger noti-icon-badge">35</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="m-0">
                                    <span class="float-right">
                                        <a href="" class="text-dark">
                                            <small>Clear All</small>
                                        </a>
                                    </span>Notification
                        </h5>
                    </div>

                    <div class="slimscroll noti-scroll">

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-info"><i class="mdi mdi-cloud-upload-outline"></i></div>
                            <p class="notify-details">Your upload has been approved<small class="text-muted">5 hours ago</small></p>
                        </a>

                    </div>

                    <!-- All-->
                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                        View all
                        <i class="fi-arrow-right"></i>
                    </a>

                </div>
            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="/yiyuan/static/assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                    <span class="pro-user-name ml-1">
                                Devid <i class="mdi mdi-chevron-down"></i> 
                            </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h6 class="m-0">
                            Hello, Devid !
                        </h6>
                    </div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="dripicons-user"></i>
                        <span>My Profile</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="dripicons-card"></i>
                        <span>My Wallet</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="dripicons-gear"></i>
                        <span>Settings</span>
                    </a>

                    <div class="dropdown-divider"></div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="dripicons-power"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </li>

        </ul>

        <ul class="list-unstyled menu-left mb-0">
            <li class="float-left">
                <a href="list.html" class="logo">
                            <span class="logo-lg">
                                <img src="/yiyuan/static/assets/images/logo.png" alt="" height="25">
                            </span>
                    <span class="logo-sm">
                                <img src="/yiyuan/static/assets/images/logo-sm.png" alt="" height="24">
                            </span>
                </a>
            </li>
            <li class="float-left">
                <a class="button-menu-mobile navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </li>
            <li class="app-search d-none d-md-block">
                <form class="form-inline">
                    <input type="text" class="form-control" placeholder="Search…">
                    <button class="btn btn-primary-color" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </li>
        </ul>
    </div>
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">


                    <div class="left-user">
                        <div class="user-box">
                            <div class="user-img">
                                <img src="/yiyuan/static/assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                                <a href="javascript:void(0);" class="user-edit"><i class="mdi mdi-pencil"></i></a>
                            </div>

                            <h5><a href="javascript: void(0);">Devid Stanberry</a> </h5>
                            <p class="text-muted mb-0"><small>Main Admin</small></p>
                        </div>
                    </div>

                    <li>
                        <a href="index.html">
                            <i class="dripicons-device-desktop"></i>
                            <span> Dashboard </span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-view-apps"></i>
                            <span> Layouts </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="layouts-dark-header.html">Dark Header</a>
                            </li>
                            <li>
                                <a href="layouts-sidebar-collapsed.html">Sidebar Collapsed</a>
                            </li>
                            <li>
                                <a href="layouts-dark-sidebar.html">Dark Sidebar</a>
                            </li>
                            <li>
                                <a href="layouts-small-sidebar.html">Small Sidebar</a>
                            </li>
                            <li>
                                <a href="layouts-boxed.html">Boxed Layout</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="calendar.html">
                            <i class="dripicons-calendar"></i> <span> Calendar </span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-inbox"></i>
                            <span> Email </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="email-inbox.html">Inbox</a>
                            </li>
                            <li>
                                <a href="email-read.html">Read Email</a>
                            </li>
                            <li>
                                <a href="email-compose.html">Compose Email</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-briefcase"></i>
                            <span> UI Elements </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="ui-typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="ui-buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="ui-notifications.html">Notifications</a>
                            </li>
                            <li>
                                <a href="ui-cards.html">Cards</a>
                            </li>
                            <li>
                                <a href="ui-modals.html">Modals</a>
                            </li>
                            <li>
                                <a href="ui-grid.html">Grid</a>
                            </li>
                            <li>
                                <a href="ui-checkbox-radio.html">Checkbox & Radio</a>
                            </li>
                            <li>
                                <a href="ui-general.html">General</a>
                            </li>
                            <li>
                                <a href="ui-progress.html">Progress</a>
                            </li>
                            <li>
                                <a href="ui-tabs.html">Tabs & Accordions</a>
                            </li>
                            <li>
                                <a href="ui-sweetalerts.html">Sweet Alerts</a>
                            </li>
                            <li>
                                <a href="ui-ribbons.html">Ribbons</a>
                            </li>
                            <li>
                                <a href="ui-range-slider.html">Range Slider</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-graph-pie"></i>
                            <span> Charts </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="chart-chartjs.html">Chartjs Charts</a>
                            </li>
                            <li>
                                <a href="chart-flot.html">Flot Charts</a>
                            </li>
                            <li>
                                <a href="chart-chartist.html">Chartist Charts</a>
                            </li>
                            <li>
                                <a href="chart-knob.html">Jquery Knob</a>
                            </li>
                            <li>
                                <a href="chart-sparkline.html">Sparkline Charts</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-document"></i>
                            <span> Forms </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="form-elements.html">Form Elements</a>
                            </li>
                            <li>
                                <a href="form-advanced.html">Form Advanced</a>
                            </li>
                            <li>
                                <a href="form-validation.html">Form Validation</a>
                            </li>
                            <li>
                                <a href="form-wizard.html">Form Wizard</a>
                            </li>
                            <li>
                                <a href="form-upload.html">Form Upload</a>
                            </li>
                            <li>
                                <a href="form-summernote.html">Summernote</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-view-list"></i>
                            <span> Tables </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="tables-basic.html">Basic Tables</a>
                            </li>
                            <li>
                                <a href="list.html">货物单列表</a>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-map"></i>
                            <span> Maps </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="maps-google.html">Google Maps</a>
                            </li>
                            <li>
                                <a href="maps-vector.html">Vector Maps</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-star"></i>
                            <span> Icons </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="icons-simpleline.html">Simple Line</a>
                            </li>
                            <li>
                                <a href="icons-dripicons.html">Dripicons</a>
                            </li>
                            <li>
                                <a href="icons-materialdesign.html">Material Design</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-user"></i>
                            <span> Authentication </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="auth-login.html">Log In</a></li>
                            <li><a href="auth-register.html">Register</a></li>
                            <li><a href="auth-recoverpassword.html">Recover Password</a></li>
                            <li><a href="auth-lock-screen.html">Lock Screen</a></li>
                            <li><a href="auth-404.html">Error 404</a></li>
                            <li><a href="auth-500.html">Error 500</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-duplicate"></i>
                            <span> Extra Pages </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="pages-pricing.html">Pricing</a></li>
                            <li><a href="pages-starter.html">Starter</a></li>
                            <li><a href="pages-invoice.html">Invoice</a></li>
                            <li><a href="pages-timeline.html">Timeline</a></li>
                            <li><a href="pages-faq.html">FAQs</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-network-3"></i>
                            <span> Multi Level </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level nav" aria-expanded="false">
                            <li>
                                <a href="javascript: void(0);">Menu 1</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);" aria-expanded="false">Menu 2
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-third-level nav" aria-expanded="false">
                                    <li>
                                        <a href="javascript: void(0);">Menu 2.1</a>
                                    </li>
                                    <li>
                                        <a href="javascript: void(0);">Menu 2.2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashoon</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                                    <li class="breadcrumb-item active">货物单列表</li>
                                </ol>
                            </div>
                            <h4 class="page-title">货物单列表</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <!--子模块 start-->
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <!--<h4 class="header-title">子模块标题</h4>-->
                            <!--<p class="sub-header">子模块描述</p>-->

                            <!--====================条件搜索 start==========================-->

                            <!--====================条件搜索 end==========================-->

                            <!--====================layui 数据表格 start====================-->
                            <!--lay 数据表格-->
                            <table id="demo" lay-filter="test"></table>
                            <!--表格的工具栏-->
                            <script type="text/html" id="toolbarDemo">
                                <div class="layui-btn-container">
                                    <button class="layui-btn layui-btn-sm" lay-event="xinzeng_button">新增</button>
                                </div>
                            </script>
                            <!--====================layui 数据表格 end====================-->
                        </div>
                    </div>
                </div>
                <!--子模块 end-->

            </div> <!-- container-fluid -->
        </div> <!-- content -->
        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center">
                        2020 © Dashboard Theme By <a href="#">YiYuan</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
</div>
<!-- END wrapper -->




<!-- Vendor js -->
<script src="/yiyuan/static/assets/js/vendor.min.js"></script>
<!--Layui js-->
<script src="/yiyuan/static/layui/layui.all.js"></script>
<!--VUE JS-->
<script src="/yiyuan/static/assets/js/vue.js"></script>
<!--Axios-->
<script src="/yiyuan/static/assets/js/axios.min.js"></script>
<!--QS-->
<!--<script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>-->



<script>

    //定义本页面数据表格的操作元素
    var tableIns;
    //定义Layui模块
    var layer,table,upload,laydate;
    //加载layui模块
    !function(){
        layer = layui.layer,
            table  = layui.table,
            laydate  = layui.laydate,
            upload = layui.upload;
    }();


    //==============页面加载后执行 start========================
    $(function() {
        console.log("版本刷新号===》"+11);

        //日期输入框初始化
        laydate.render({
            elem: '#date_input_id', //指定元素
            type:'datetime'
        });

        //数据表格参数初始化
        tableIns = table.render({
            elem: '#demo'//表格ID
            ,toolbar: '#toolbarDemo' //工具栏ID
            ,height: 'full-280' //高
            ,cellMinWidth: 120 //全局定义常规单元格的最小宽度
            ,url: '/yiyuan/CargoBill/getInfoListPage' //数据接口
            ,defaultToolbar: ['filter']//数据表格 头部工具栏右侧图标
            ,method: 'post' //请求方式
            ,contentType: 'application/json' //发送到服务端的内容编码类型
            ,parseData: function(res){ //res 即为原始返回的数据

                console.log("=========");
                console.log(res);

                if (!res.success){
                    return ;
                }

                return {
                    "code": res.code, //解析接口状态
                    "message": res.message, //解析提示文本
                    "total": res.data.total, //解析数据长度
                    "records": res.data.records //解析数据列表
                };
            }
            ,request: {//设定分页参数
                pageName: 'current' //页码的参数名称，默认：page
                ,limitName: 'size' //每页数据量的参数名，默认：limit
            }
            ,response: {//设定返回的数据格式
                statusName: 'code' //规定数据状态的字段名称
                ,statusCode: 200 //规定成功的状态码，默认：0
                ,msgName: 'message' //规定状态信息的字段名称，默认：msg
                ,countName: 'total' //规定数据总数的字段名称，默认：count
                ,dataName: 'records' //规定数据列表的字段名称，默认：data
            }
            ,page: true //开启分页
            ,limit: 20
            ,limits: [10,20,30]
            ,cols: [ [ //表头
                { field: "state", checkbox: true,  width: '4%', align: 'center'}
                ,{field: 'departureLocation', title: '出发'}
                ,{field: 'arrivedLocation', title: '到达'}
                ,{field: 'goodsName', title: '货物名称'}
                ,{field: 'goodsSpecification', title: '规格'}
                ,{field: 'goodsUnit', title: '单位', templet: function (item) {
                        if (item.goodsUnit == '1') {
                            return "吨";
                        }else {
                            return "未定义";
                        }
                 }}
                ,{field: 'goodsNumber', title: '吨数'}
                ,{field: 'goodsUnitPrice', title: '料款/吨'}
                ,{field: 'goodsFreight', title: '运费/吨'}
                ,{field: 'goodsTime', title: '时间'}
                ,{field: '', title: '成本总价'}


            ]]
        });//数据表格参数初始化-->结尾

        //=======================事件监听方法区域 start===================================
        //表格工具栏监听事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'xinzeng_button':
                    //跳转到新增页面
                    window.location.replace("/yiyuan/CargoBillPage/form.html")
                    break;
            };
        });//表格工具栏监听事件 -->结尾


        //=======================事件监听方法区域 end===================================
    });//页面加载后执行 -->end


    //======================== 普通方法 区域 start======================================
    //解析url参数
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    //======================== 普通方法 区域 end======================================



    //==================================网络请求方法区域 所有的AJAX写这里 start=====================================

    //==================================网络请求方法区域 end=====================================




</script>






<!-- App js -->
<script src="/yiyuan/static/assets/js/app.min.js"></script>


</body>
</html>