<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>出货</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/yiyuan/static/assets/images/favicon.ico">

    <!-- App css -->
    <link href="/yiyuan/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/yiyuan/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/yiyuan/static/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    <!-- 弹窗 css-->
    <link href="/yiyuan/static/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <div class="navbar-custom">
        <ul class="list-unstyled topnav-menu float-right mb-0">



        </ul>

        <ul class="list-unstyled menu-left mb-0">
            <li class="float-left">
                <a href="list.html" class="logo">
                            <span class="logo-lg">
                                <img src="/yiyuan/static/assets/images/logo.png" alt="" height="25">
                            </span>
                    <span class="logo-sm">
                                <img src="/yiyuan/static/assets/images/logo-sm.png" alt="" height="24">
                            </span>
                </a>
            </li>
            <li class="float-left">
                <a class="button-menu-mobile navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </li>
           <!-- <li class="app-search d-none d-md-block">
                <form class="form-inline">
                    <input type="text" class="form-control" placeholder="Search…">
                    <button class="btn btn-primary-color" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </li>-->
        </ul>
    </div>
    <!-- end Topbar -->

    <!-- ========== 左侧边栏 Start ========== -->
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">


                    <!--<div class="left-user">
                        <div class="user-box">
                            <div class="user-img">
                                <img src="/yiyuan/static/assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                                <a href="javascript:void(0);" class="user-edit"><i class="mdi mdi-pencil"></i></a>
                            </div>

                            <h5><a href="javascript: void(0);">Devid Stanberry</a> </h5>
                            <p class="text-muted mb-0"><small>Main Admin</small></p>
                        </div>
                    </div>-->

                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-view-list"></i>
                            <span> 货运单 </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="form.html">新增货运单</a>
                            </li>
                            <li>
                                <a href="list.html">货物单列表</a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- 左侧边栏 End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">出货</li>
                                </ol>
                            </div>
                            <h4 class="page-title">出货</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card-box">


                            <form class="form-horizontal" id="basic-form">
                                <!--隐藏的ID 输入框，有值后台会自动判断进行更新-->
                                <input type="hidden" name="id" id="hiddenid"  class="form-control">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">销售价/吨</label>
                                    <div class="col-sm-10">
                                        <input type="number" min="0.0" step="0.01" name="sellingPrice" class="form-control" placeholder="销售价/吨" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">出货时间</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="date" name="shippingTime" required>
                                    </div>
                                </div>


                                <div class="form-group mb-0">
                                    <button class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                                        提交
                                    </button>
                                    <button type="reset" class="btn btn-light waves-effect">
                                        重置
                                    </button>
                                </div>


                            </form>

                        </div> <!-- end card-box -->
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- container-fluid -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center">
                        2020 © Dashboard Theme By <a href="#">YiYuan</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->



<!--VUE JS-->
<script src="/yiyuan/static/assets/js/vue.js"></script>
<!--Axios-->
<script src="/yiyuan/static/assets/js/axios.min.js"></script>
<!--QS-->
<!--<script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>-->
<!-- Vendor js -->
<script src="/yiyuan/static/assets/js/vendor.min.js"></script>
<script>

    //QS数据处理配置
    //var qs = Qs;




    //============ 事件监听 Strat====================

    //出货 表单提交监听
    $("#basic-form").on("submit",function(event){

        //阻止默认表单提交
        event.preventDefault();

        //获取表单内的所有数据并封装
        var formData = {};
        var t = $('#basic-form').serializeArray();
        $.each(t, function() {
            formData[this.name] = this.value;
        });

        //将是否出货 字段改为 1：出货
        formData.whetherToShip = 1;

        //调用http发送请求
        insertOrUpdate_http_ff(formData);
    })
    //============ 事件监听区End ====================


    //============ ajax接口调用方法区 Start ==================
    //新增或更新数据
    function insertOrUpdate_http_ff(data) {
        axios.post('/yiyuan/CargoBill/saveOrUpdateInfo',
            data
        ).then(function (response) {
            if(response.data.success === true){
                Swal.fire({
                    title: "操作成功",
                    text: "点击确定后返回列表页面",
                    type: "success",
                    confirmButtonText: "确定",
                    confirmButtonClass: "btn btn-success mt-2",
                    cancelButtonClass: "btn btn-danger ml-2 mt-2",
                    buttonsStyling: !1
                }).then(function (t) {
                    if(t.value){
                        //重定向到列表页
                        window.location.replace("/yiyuan/CargoBillPage/list.html");
                    }
                });
            }
        }).catch(function (error) {
            //请求异常响应结果
            console.log(error);
        });
    }
    //============ ajax接口调用方法区 End ====================


    //===== 页面加载后执行 start=====

    $(function () {
        //获取url中的数据
        var dataObj = GetRequest();
        //将id注入input
        $("#hiddenid").val(dataObj.id);
    });

    //===== 页面加载后执行 end=====



    //解析url参数
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }


</script>




<!-- App js -->
<script src="/yiyuan/static/assets/js/app.min.js"></script>

<!--表单验证功能 --》 Start-->
<!-- Validation js (Parsleyjs) -->
<script src="/yiyuan/static/assets/libs/parsleyjs/parsley.min.js"></script>
<!-- validation init -->
<script src="/yiyuan/static/assets/js/pages/form-validation.init.js"></script>
<!--表单验证功能 --》 End-->

<!-- 弹窗 js-->
<script src="/yiyuan/static/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<!-- 弹窗初始化 js-->
<script src="/yiyuan/static/assets/js/pages/sweet-alerts.init.js"></script>


</body>
</html>