<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>统计汇总</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/yiyuan/static/assets/images/favicon.ico">

    <!-- App css -->
    <link href="/yiyuan/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/yiyuan/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/yiyuan/static/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    <!-- 弹窗 css-->
    <link href="/yiyuan/static/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <div class="navbar-custom">
        <ul class="list-unstyled topnav-menu float-right mb-0">



        </ul>

        <ul class="list-unstyled menu-left mb-0">
            <li class="float-left">
                <a href="list.html" class="logo">
                            <span class="logo-lg">
                                <img src="/yiyuan/static/assets/images/logo.png" alt="" height="25">
                            </span>
                    <span class="logo-sm">
                                <img src="/yiyuan/static/assets/images/logo-sm.png" alt="" height="24">
                            </span>
                </a>
            </li>
            <li class="float-left">
                <a class="button-menu-mobile navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </li>
           <!-- <li class="app-search d-none d-md-block">
                <form class="form-inline">
                    <input type="text" class="form-control" placeholder="Search…">
                    <button class="btn btn-primary-color" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </li>-->
        </ul>
    </div>
    <!-- end Topbar -->

    <!-- ========== 左侧边栏 Start ========== -->
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">


                    <!--<div class="left-user">
                        <div class="user-box">
                            <div class="user-img">
                                <img src="/yiyuan/static/assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                                <a href="javascript:void(0);" class="user-edit"><i class="mdi mdi-pencil"></i></a>
                            </div>

                            <h5><a href="javascript: void(0);">Devid Stanberry</a> </h5>
                            <p class="text-muted mb-0"><small>Main Admin</small></p>
                        </div>
                    </div>-->

                    <li>
                        <a href="javascript: void(0);">
                            <i class="dripicons-view-list"></i>
                            <span> 货运单 </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="summaryStatistics.html">统计汇总</a>
                            </li>
                            <li>
                                <a href="cargoBillAddForm.html">新增货运单</a>
                            </li>
                            <li>
                                <a href="list.html">货物单列表</a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- 左侧边栏 End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">统计汇总</li>
                                </ol>
                            </div>
                            <h4 class="page-title">统计汇总</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card-box">


                            <form class="form-horizontal" id="basic-form">

                                <!--隐藏的ID 输入框，有值后台会自动判断进行更新-->
                                <input type="hidden" name="id" id="hiddenid"  class="form-control">

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" id="zhuangchedunshu"></label>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">开始时间</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="date" name="startingTime" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">结束时间</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="date" name="endTime" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">装车地</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="departureLocation" class="form-control" placeholder="装车地" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">卸车地</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="arrivedLocation" class="form-control" placeholder="卸车地" required>
                                    </div>
                                </div>


                                <div class="form-group mb-0">
                                    <button class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                                        提交
                                    </button>
                                    <button type="reset" class="btn btn-light waves-effect">
                                        重置
                                    </button>
                                </div>


                            </form>

                        </div> <!-- end card-box -->
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- container-fluid -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center">
                        2020 © Dashboard Theme By <a href="#">YiYuan</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->



<!--VUE JS-->
<!--<script src="/yiyuan/static/assets/js/vue.js"></script>-->
<!--Axios-->
<script src="/yiyuan/static/assets/js/axios.min.js"></script>
<!-- Vendor js -->
<script src="/yiyuan/static/assets/js/vendor.min.js"></script>
<!--Layui js-->
<script src="/yiyuan/static/layui/layui.all.js"></script>

<script>

    //定义Layui模块
    var layer;
    //加载layui模块
    !function(){
        layer = layui.layer;
    }();

    //全局加载层控制变量
    let loding_layLoad;


    //============ 事件监听 Strat====================

    //统计 表单提交监听
    $("#basic-form").on("submit",function(event){

        //阻止默认表单提交
        event.preventDefault();

        //获取表单内的所有数据并封装
        var formData = {};
        var t = $('#basic-form').serializeArray();
        $.each(t, function() {
            formData[this.name] = this.value;
        });

        //将是否出货 字段改为 1：出货
        formData.whetherToShip = 1;

        //拉起加载层
        loding_layLoad = layer.msg('加载中', {icon: 16,shade: 0.02});

        //调用http发送请求
        insertOrUpdate_http_ff(formData);
    })
    //============ 事件监听区End ====================


    //============ ajax接口调用方法区 Start ==================

    //新增或更新数据
    function insertOrUpdate_http_ff(data) {
        axios.post('/yiyuan/CargoBill/summaryStatistics',
            data
        ).then(function (response) {

            //关闭加载层
            layer.close(loding_layLoad);

            var objdata=response.data.data;
            if(response.data.success === true){
                Swal.fire({
                    title: "查询结果",
                    html: "装车总吨数:"+objdata.totalTonnage
                        +"<br/>总卸车吨数:"+objdata.totalUnloadingTonnage
                        +"<br/>总销售金额:"+objdata.totalSalesAmount
                        +"<br/>总净利润："+objdata.totalNetProfit,
                    type: "success",
                    confirmButtonText: "确定",
                    confirmButtonClass: "btn btn-success mt-2",
                    cancelButtonClass: "btn btn-danger ml-2 mt-2",
                    buttonsStyling: !1
                }).then(function (t) {
                    if(t.value){
                        //重定向到列表页
                        //window.location.replace("/yiyuan/CargoBillPage/list.html");
                    }
                });
            }else{
                alert("操作失败，请联系管理员，错误原因："+response.data.message);
            }
        }).catch(function (error) {
            //请求异常响应结果
            console.log(error);
            //关闭加载层
            layer.close(loding_layLoad);
            alert("网络连接超时");
        });
    }
    //============ ajax接口调用方法区 End ====================


    //===== 页面加载后执行 start=====

    $(function () {
        //获取url中的数据
        var dataObj = GetRequest();
    });

    //===== 页面加载后执行 end=====



    //解析url参数
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }


    /**
     *  时间工具类
     *  @author fei
     */
    var DateUtil={
        /**
         * 当前时间，格式 yyyy-MM-dd HH:mm:ss
         *
         * @return 当前时间的标准形式字符串
         */
        now: function() {
            return new Date().format("yyyy-MM-dd HH:mm:ss");
        },
        /**
         * 格式化日期时间
         * 格式 yyyy-MM-dd HH:mm:ss
         *
         * @param date 被格式化的日期
         * @param format 格式化 参考 {@link date_formate}
         * @return 格式化后的日期
         */
        formatDateTime: function(date,format) {
            if(format == undefined || format ==null ){
                format = "yyyy-MM-dd HH:mm:ss";
            }

            return date.format(format);
        },
        /**
         * 只支持毫秒级别时间戳，如果需要秒级别时间戳，请自行×1000
         *
         * @param timestamp 时间戳
         * @return 时间对象
         */
        date:function (timestamp) {
            return new Date(timestamp);
        }
    };
    /** 日期格式 命名参考hutool工具类 */
    date_formate = {
        /** 标准日期格式：yyyy-MM-dd */
        normDatePattern: "yyyy-MM-dd",
        /** 标准时间格式：hh:mm:ss */
        normTimePattern : "HH:mm:ss",
        /** 标准日期时间格式，精确到分：yyyy-MM-dd HH:mm */
        normDatetimeMinutePattern:"yyyy-MM-dd HH:mm",
        /** 标准日期时间格式，精确到秒：yyyy-MM-dd HH:mm:ss */
        normDatetimePattern:"yyyy-MM-dd HH:mm:ss",
        /** 标准日期时间格式，精确到毫秒：yyyy-MM-dd HH:mm:ss.SSS */
        normDatetimeMsPattern:"yyyy-MM-dd HH:mm:ss.SSS",
        /** 标准日期格式：yyyy年MM月dd日 */
        chineseDatePattern : "yyyy年MM月dd日",
        /** 标准日期格式：yyyyMMdd */
        pureDatePattern : "yyyyMMdd",
        /** 标准日期格式：HHmmss */
        pureTimePattern : "HHmmss",
        /** 标准日期格式：yyyyMMddHHmmss */
        pureDatetimePattern : "yyyyMMddHHmmss",
        /** 标准日期格式：yyyyMMddHHmmssSSS */
        pureDatetimeMsPattern : "yyyyMMddHHmmssSSS",
    };

    Date.prototype.format = function(fmt) {
        var o = {
            "M+" : this.getMonth()+1,                 //月份
            "d+" : this.getDate(),                    //日
            "H+" : this.getHours(),                   //小时
            "h+" : this.getHours(),                   //小时
            "m+" : this.getMinutes(),                 //分
            "s+" : this.getSeconds(),                 //秒
            "q+" : Math.floor((this.getMonth()+3)/3), //季度
            "S"  : this.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        }
        for(var k in o) {
            if(new RegExp("("+ k +")").test(fmt)){
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
            }
        }
        return fmt;
    };


</script>




<!-- App js -->
<script src="/yiyuan/static/assets/js/app.min.js"></script>

<!--表单验证功能 --》 Start-->
<!-- Validation js (Parsleyjs) -->
<script src="/yiyuan/static/assets/libs/parsleyjs/parsley.min.js"></script>
<!-- validation init -->
<script src="/yiyuan/static/assets/js/pages/form-validation.init.js"></script>
<!--表单验证功能 --》 End-->

<!-- 弹窗 js-->
<script src="/yiyuan/static/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<!-- 弹窗初始化 js-->
<script src="/yiyuan/static/assets/js/pages/sweet-alerts.init.js"></script>


</body>
</html>